<!DOCTYPE html>
<html>
<head>
    <title>Turnierplaner</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1>Turnierplaner</h1>

{%block body%}
{%endblock%}

{%block list%}
{%endblock%}

{%block js%}
{%endblock%}

</body>
</html>